<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let error of errores">
    {{ error }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="nombre" [(ngModel)]="cliente.nombre" required maxlength="50" #nombre="ngModel">
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              El nombre es requerido
            </div>
            <div *ngIf="nombre.errors.maxlength">
              El nombre puede contener máximo 50 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="direccion" class="col-form-label col-sm-2">Dirección</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="direccion" [(ngModel)]="cliente.direccion" required maxlength="100" #direccion="ngModel">
          <div class="alert alert-danger" *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">
            <div *ngIf="direccion.errors.required">
              La direccion es requerida
            </div>
            <div *ngIf="direccion.errors.maxlength">
              La direccion puede contener máximo 100 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="ciudad" class="col-form-label col-sm-2">Ciudad</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="ciudad" [(ngModel)]="cliente.ciudad" required maxlength="30" #ciudad="ngModel">
          <div class="alert alert-danger" *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)">
            <div *ngIf="ciudad.errors.required">
              La ciudad es requerida
            </div>
            <div *ngIf="ciudad.errors.maxlength">
              La ciudad puede contener máximo 30 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="telefono" class="col-form-label col-sm-2">Telefono</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" name="telefono" [(ngModel)]="cliente.telefono" required pattern="^[0-9]{0,20}$" #telefono="ngModel">
          <div class="alert alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
            <div *ngIf="telefono.errors.required">
              El teléfono es requerido
            </div>
            <div *ngIf="telefono.errors.pattern">
              El teléfono puede contener máximo 20 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!clienteForm.form.valid">Actualizar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>

<app-tarjetas *ngIf="cliente.id" [cliente]="cliente"></app-tarjetas>
